<template>
  <div>
    <b-row align-v="end">
      <b-col lg="2">
        <b-form-group class="label-font" label="Продаю" label-for="from">
          <b-form-select v-model="formData.from" :options="options"></b-form-select>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row align-v="end">
      <b-col lg="2">
        <b-form-group class="label-font" label="Покупаю" label-for="to">
          <b-form-select v-model="formData.to" :options="options"></b-form-select>
        </b-form-group>
      </b-col>
    </b-row>
     <b-row align-v="end">
      <b-col lg="2">
        <b-form-group class="label-font" label="Сумма" label-for="amount">
          <b-form-input v-model="formData.amount" type="number" placeholder=""></b-form-input>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col lg="2">
        <b-form-group>
          <b-overlay
            rounded
            opacity="0.6"
            spinner-small
            spinner-variant="primary"
            class="d-inline-block"
            @hidden="onHidden"
          >
            <b-button
              ref="button"
              type="button"
              variant="primary"
              class="ml-2"
              @click="convert()"
            >
              Обменять
            </b-button>
          </b-overlay>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row v-if="result !== null">
      <b-col lg="2"
        ><b>Результат:</b>&nbsp;<span
          >{{result}} {{formData.to && formData.to.toUpperCase()}}</span
        ></b-col
      >
    </b-row>
  </div>
</template>

<script>

export default {
  data() {
    return {
      formData: {
        from: null,
        to: null,
        amount: null,
      },
      options: [
        { value: null, text: 'Валюта' },
        { value: 'uah', text: 'UAH' },
        { value: 'usd', text: 'USD' },
        { value: 'eur', text: 'EUR' },
      ],
      result: null,
    };
  },
  methods: {
    async convert() {
      const response = await fetch('/api/convert?' + new URLSearchParams(this.formData))
      const result = await response.json()

      this.result = result.amount
    },
  },
};
</script>

<style lang="scss">
.label-font {
  font-size: 13.5px;
}
</style>